<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTKS.Properties.Settings.PersonelTakipSistemiConnectionString"
            connectionString="Data Source=DESKTOP-SQGL39R\SQL;Initial Catalog=PersonelTakipSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>